@model List<PharmMgtSys.Models.StockReportViewModel>

@{
    ViewBag.Title = "Stock Report";
}

<h3>Stock Report</h3>

<div class="mb-3">
    @Html.ActionLink("Export to PDF", "ExportStockReportToPdf", "Reports", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Export to Excel", "ExportStockReportToExcel", "Reports", null, new { @class = "btn btn-success" })
</div>

<table id="myTable" class="table table-bordered">
    <thead>
        <tr>
            <th>Medication Name</th>
            <th>Quantity in Stock</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MedicationName</td>
                <td>@item.QuantityInStock</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr></tr>
    </tfoot>
</table>


<p>@Html.ActionLink("Back to Home", "Index", "Home", null, new { @class = "btn btn-primary" })</p>